.fc h2 {
  font-size:22px;
}

.fc-agenda-view .fc-day-grid .fc-row .fc-content-skeleton {
  padding-bottom: 0!important;
}

.top-info {
	margin:0 auto;
	padding:5px 10px;
}

.top-title {
	font-weight:bold;
}

.intl-tel-input {
	display:block!important;
}

.no-padding {
	padding:0;
}

th.control-group.error .help-inline {
	color:#ff0000!important;
}

th.control-group.error .form-control {
	border-color:#ff0000!important;
}

.extra-modal-info {
	margin-top:20px;
}