.ui-widget.wc-container *,
.ui-widget.wc-container *:before,
.ui-widget.wc-container *:after {
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box; 
}

.ui-widget-header.wc-toolbar {
	display:none;
}

.printable .wc-header {
	background:#fff;
}

.printable .wc-header .ui-state-active, 
.printable .wc-header .ui-widget-content .ui-state-active, 
.printable .wc-header .ui-widget-header .ui-state-active
.printable .wc-header .ui-widget-content {
  border: none;
}

.wc-user-header.printable-top {
	text-align: left;
}
.venue-headers {
	margin-bottom:15px;
}
.notes-table {
	margin-top:15px;
}

.modal h4,
.modal h5 {
	font-weight:bold;
}

.no-padding {
	padding:0;
}

.wc-cal-event.confirmed .wc-title {
	background-color: #2ecc71;
	border: 1px solid #2ecc71;
}

.wc-cal-event.canceled .wc-title {
	background-color: #df2e1b;
	border: 1px solid #cd2a19;
}

.wc-cal-event.notified .wc-title {
	background-color: #d2850b;
	border: 1px solid #be780a;
}

.wc-cal-event.noshow .wc-title {
	background-color: #555555;
	border: 1px solid #494949;
}

.wc-cal-event.showed .wc-title {
	background-color: #27ae60;
	border: 1px solid #229955;
}